@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body  */
body {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}

/* Shred Styles */
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.btn-primary {
  background: #fd6e0a;
  border: 0;
  padding: 18px 36px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}
.btn-tranparent {
  background: none;
  border: 0;
  padding: 18px 24px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  color: #fd6e0a;
  font-size: 1.2rem;
  font-weight: bold;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.section-description {
  font-size: 18px;
  color: #757575;
}
.secondary-bg {
  background: #fff8f3;
}

/* Nav Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 226px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.2 rem;
  color: #474747;
}
/* Header */
.header {
  background: url(../images/developer.png), url(../images/header_bg.png),
    linear-gradient(to right, #fff8f3, #ffc299);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  object-fit: cover;
}

/* Banner Styles */
.hero {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
  height: 676px;
}

.hero-content {
  max-width: 580px;
  max-height: 356px;
}

.hero .hero-greetings {
  font-size: 45px;
  font-weight: 600;
}
.hero .hero-title {
  font-size: 85px;
  font-weight: bold;
}

.hero p {
  font-size: 18px;
}
.banner-profile-image {
  min-width: 584px;
  min-height: 676px;
  object-fit: contain;
  border-radius: 50%;
}
/* Main Styles */
main {
  max-width: 1140px;
  height: 550px;
  margin: 0 auto;
}

/* About Me */
.about-me {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.item-description {
  font-weight: 600;
  padding: 30px 0;
}
.about-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
